---
layout: page
---

{{ content }}
<ul id="archive">
{% for exm in site.exams %}
      <li class="archiveposturl" style="background: transparent">
        <span><a href="{{ exm.url | prepend: site.baseurl}}">{{ exm.title }}</a></span>
<strong style="font-size:100%; font-family: 'Titillium Web', sans-serif; float:right">
<a title="Download problems (pdf)" href="{{ exm.pdf | prepend: site.baseurl }}"><i class="fas fa-file-pdf"></i></a> 
{% if exm.attachment %}
&nbsp; <a title="Download attachments (zip)" href="{{ exm.attachment | prepend: site.baseurl }}"><i class="fas fa-file-archive"></i></a>
{% endif %}
</strong> 
      </li>
{% endfor %}
</ul>